section {
    min-height: calc(100vh - 125px);
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section>div {
    display: flex;
}
section>div:nth-child(2) {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.caixa {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 60pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px black;
    cursor: pointer;
    width: 30vw;
    height: 30vw;
    max-width: 172px;
    max-height: 172px;
}
.caixa:nth-child(2) {
    border-left: 3px solid black;
    border-right: 3px solid black;
}
span {
    text-shadow: 2px 2px black;
    font-family: sans-serif;
    display: none;
    flex-direction: column;
    position: absolute;
    margin: auto auto;
    text-align: center;
    font-size: 40pt;
}
span>button:hover {
    background-color: white;
}