section {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
section>div {
    margin: 20px 1.3vw;
    width: 300px;
    height: 400px;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
}
section>div>img {
    width: 100%;
    border-radius: 5px;
}
section>div>h3 {
    margin: 8px 0;
}
section>div>button {
    border: none;
    padding: 5px 10px;
    border: gray solid 2px;
    cursor: pointer;
    border-radius: 5px;
}
section>div>button:hover {
    background-color: gray;
}
section>div>button>a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}