body {
    margin: 0 auto;
    max-width: 1200px;
    background-color: grey;
    font-family: 'Spicy Rice', cursive;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    background-color: white;
    height: 70px;
    box-shadow: 0px 5px 5px #000;
}
header>nav {
    display: none;
}
header>div:first-child {
    margin: 0 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16pt;
}
header>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 76%;
    margin-right: 10px;
    cursor: pointer;
}
.linhaHamburguer {
    width: 35px;
    height: 3px;
    background-color: black;
}
header>nav>a{
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
}
header>nav>a:hover {
    font-size: 1.05em;
}
/* --section-- */
section {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
section>div {
    margin: 20px 1.3vw;
    width: 300px;
    height: 400px;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
}
section>div>img {
    width: 100%;
    border-radius: 5px;
}
section>div>h3 {
    margin: 8px 0;
}
section>div>button {
    border: none;
    padding: 5px;
    border: gray solid 2px;
    cursor: pointer;
    border-radius: 5px;
}
section>div>button:hover {
    background-color: gray;
}
section>div>button>a {
    text-decoration: none;
    color: black;
}
@media screen and (min-width: 540px) {
    header {
        justify-content: space-around;
    }
    header>nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65vw;
        height: 100%;
        max-width: 500px;
    }
    header>div:last-child {
        display: none;
    }
}