body {
    margin: 0 auto;
    max-width: 1200px;
    background-color: grey;
    font-family: 'Spicy Rice', cursive;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    background-color: white;
    height: 70px;
    box-shadow: 0px 5px 5px #000;
}
header>nav {
    display: none;
}
header>div:first-child {
    margin: 0 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16pt;
}
header>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 76%;
    margin-right: 10px;
}
.linhaHamburguer {
    width: 35px;
    height: 3px;
    background-color: black;
}
